/* RESET E NORMALIZZAZIONE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ALL DOC */
body {
    font-family: sans-serif;
}

/* #FOLD */
/* <1-fold */

/* .FOLD */
/* #2-fold */

/* #/2-fold END TITLE */

/* </1-fold END */
