/* RESET E NORMALIZZAZIONE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ALL DOC */
body {
    font-family: sans-serif;
}

/* #WRAPPER */
#wrapper {
    height: 100vh;
    background-color: #e2e2e2;
}

/* HEADER */
/* <1-fold */
header {
    height: 130px;
    background-color: #fff;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

/* .HEADER-LEFT */
/* #2-fold */
.header-left {
    width: 100px;
    height: 100%;
    background-color: red;
}
/* #/2-fold END TITLE */

/* .HEADER-RIGHT */
/* #2-fold */
.header-right {
    width: 100px;
    height: 100%;
    background-color: red;
}
/* #/2-fold END TITLE */

/* </1-fold END */
